@media (min-width: 1200px) {
  .centered {
    margin: 0 auto;
    max-width: 1200px !important;
    width: 1200px !important;
  }
}
body {
  font-family: Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 18px;
  background: #fff;
  color: #666;
}
body h1,
body h2,
body h3,
body h4 {
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: #444;
}
body h1 b,
body h2 b,
body h3 b,
body h4 b {
  display: block;
  line-height: 1;
  font-size: 150%;
}
body h1 img,
body h2 img,
body h3 img,
body h4 img {
  vertical-align: middle;
  border: 0 none;
}
body h1 {
  font-size: 42px;
  margin-top: 40px;
}
/* body h1.title { */
  /* display: none; */
/* } */
body h2 {
  margin-top: 60px;
  position: relative;
  font-size: 32px;
  border-bottom: 1px solid #bbb;
}
body h3 {
  font-size: 26px;
  margin-top: 20px;
}
body p {
  text-align: justify;
}
body a {
  text-decoration: none;
  color: #1692cc;
}
body a:hover {
  color: #0c5070;
  text-decoration: underline;
}
body pre {
  background: white;
}
body pre.src {
  overflow-y: auto !important;
  font-size: 16px;
}
body code {
  background: #eee;
  border: 1px solid #ccc;
  padding: 0px 4px;
  color: #666;
  overflow-x: auto;
  font-size: .9em;
}
body img {
  border: 1px solid #ccc;
  height: auto;
  max-width: 70%;
}
@media (max-width: 1200px) {
  body img {
    max-width: 100%;
  }
}
body img.no-border {
  border: none;
}
body .tag {
  background: transparent;
  font-size: 0.6em;
}
body .tag span {
  background: #1692cc;
  color: white;
  padding: 2px 5px;
  border-radius: 4px;
}
body .pubdate {
  color: #aaa;
  font-size: 18px;
  margin-bottom: 20px;
  text-align: right;
}
body .pubdate p {
  display: inline;
  margin-right: 10px;
}
body .nav-blog {
  text-align: right;
}
body .org-info-js_info-navigation {
  background: #bbb;
}
@media (min-width: 1200px) {
  body #content,
  body #postamble {
    margin: 0 auto;
    max-width: 1200px !important;
    width: 1200px !important;
  }
}
body #content {
  margin-top: 10px;
}
body #postamble {
  font-size: 0.8em;
  margin-top: 50px;
  text-align: right;
  color: #aaa;
}
body #postamble a {
  color: #5bbfed;
}
@media (min-width: 1200px) {
  body #preamble {
    width: 1200px;
    margin: 0px auto;
    position: relative;
  }
}
body .intro {
  padding-top: 20px;
  color: #BBB;
}
body .intro h1 {
  font-size: 42px;
  color: #BBB;
  margin: 0;
  padding: 0;
}
body .intro p {
  color: #aaa;
  font-size: 14px !important;
}
body .nav {
  text-align: left;
  margin-top: 8px;
}
@media (min-width: 1200px) {
  body .nav {
    font-size: 16px;
    position: absolute;
    right: 0;
    top: 0;
  }
}
@media (max-width: 1200px) {
  body .nav {
    font-size: 14px;
  }
}
body .nav ul {
  list-style: none;
  padding: 0;
}
body .nav ul li {
  color: #999;
  display: inline-block;
  margin: 0;
}
body .nav ul li a {
  display: inline-block;
  padding-right: 6px;
  border-radius: 0;
  text-decoration: underline;
  font-weight: normal;
}
body #disqus_thread {
  margin-top: 40px;
}
body .clearfix {
  clear: both;
}
@media (min-width: 1200px) {
  body .contact {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    -moz-column-gap: 3em;
    -webkit-column-gap: 3em;
    column-count: 2;
    column-gap: 3em;
  }
}


/* TOC inspired by http://jashkenas.github.com/coffee-script */
#table-of-contents {
    z-index: 100;
    font-size: 10pt;
    position: fixed;
    right: 0em;
    top: 0em;
    width: 300px;
    background: white;
    -webkit-box-shadow: 0 0 0.5em #777777;
    -moz-box-shadow: 0 0 0.5em #777777;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    text-align: right;
    /* ensure doesn't flow off the screen when expanded */
    /* max-height: 80%; */
    max-height: 80%;
    overflow: auto;
}
#table-of-contents h2 {
    font-size: 10pt;
    max-width: 9em;
    font-weight: normal;
    padding-left: 0.5em;
    padding-left: 0.5em;
    padding-top: 0.05em;
    padding-bottom: 0.05em; 
}

#table-of-contents #text-table-of-contents {
    display: none;
    text-align: left; 
}
#table-of-contents:hover #text-table-of-contents {
    display: block;
    padding: 0.5em;
    margin-top: -1.5em;
}

#table-of-contents #text-table-of-contents ul {
    list-style-position: outside;
}
