body #content {
    margin-top: 10px;
    margin-left: 260px;
    max-width: 850px;
    margin-right: 10px;
}

body {
  font-family: Helvetica, sans-serif;
  line-height: 1.5;
  /* font-size: 16px; */
  background: #fff;
  color: #666;
}


body h1,
body h2,
body h3,
body h4 {
  font-family: courier;
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: #444;
}
body h1 b,
body h2 b,
body h3 b,
body h4 b {
  display: block;
  line-height: 1;
  font-size: 150%;
}
body h1 img,
body h2 img,
body h3 img,
body h4 img {
  vertical-align: middle;
  border: 0 none;
}
body h1 {
  text-align: left;
  margin-top: 40px;
  font-size: 200%;
}
body h1.title {
  text-align: left;
  font-size: 400%;
  margin-top: 40px;
}

body h2 {
  margin-top: 60px;
  position: relative;
  font-size: 200%;
  /* font-size: 32px; */
  border-bottom: 1px solid #bbb;
}

body h3 {
  font-size: 160%;
  /* font-size: 26px; */
  margin-top: 20px;
}

body p {
  text-align: justify;
}

body a {
  text-decoration: none;
  color: #1692cc;
}

body a:hover {
  color: #0c5070;
  text-decoration: underline;
}



#table-of-contents {
    margin-top    : 0;
    padding       : 0;
    /* font-size     : 10pt; */
    position      : fixed;
    left          : 20px;
    top           : 200px;
    width         : 200px;
    background    : #f5f5f5;
    text-align    : left;
    border        : 1px solid #e3e3e3;
    border-radius : 4px;
    padding-top   : 0px;
}

#table-of-contents a{
    font-size    : 90%;
}

#table-of-contents h2 {
    /* font-size: 12pt; */
    font-size    : 100%;
    max-width: 180px;
    font-weight: normal;
    padding-left: 0.5em;
    padding-top: 0.05em;
    padding-bottom: 0.05em;
    border-bottom: 0px;
    margin-top: 5px;
}




/* body pre { */
/*   background: white; */
/* } */
/* body pre.src { */
/*   overflow-y: auto !important; */
/*   font-size: 16px; */
/* } */
/* body code { */
/*   background: #eee; */
/*   border: 1px solid #ccc; */
/*   padding: 0px 4px; */
/*   color: #666; */
/*   overflow-x: auto; */
/*   font-size: .9em; */
/* } */
/* body img { */
/*   border: 1px solid #ccc; */
/*   height: auto; */
/*   max-width: 70%; */
/* } */

/* body img.no-border { */
/*   border: none; */
/* } */
/* body .tag { */
/*   background: transparent; */
/*   font-size: 0.6em; */
/* } */
/* body .tag span { */
/*   background: #1692cc; */
/*   color: white; */
/*   padding: 2px 5px; */
/*   border-radius: 4px; */
/* } */
/* body .pubdate { */
/*   color: #aaa; */
/*   font-size: 18px; */
/*   margin-bottom: 20px; */
/*   text-align: right; */
/* } */
/* body .pubdate p { */
/*   display: inline; */
/*   margin-right: 10px; */
/* } */
/* body .nav-blog { */
/*   text-align: right; */
/* } */
/* body .org-info-js_info-navigation { */
/*   background: #bbb; */
/* } */

/* body #postamble { */
/*   font-size: 0.8em; */
/*   margin-top: 50px; */
/*   text-align: right; */
/*   color: #aaa; */
/* } */
/* body #postamble a { */
/*   color: #5bbfed; */
/* } */

/* body .intro { */
/*   padding-top: 20px; */
/*   color: #BBB; */
/* } */
/* body .intro h1 { */
/*   font-size: 42px; */
/*   color: #BBB; */
/*   margin: 0; */
/*   padding: 0; */
/* } */
/* body .intro p { */
/*   color: #aaa; */
/*   font-size: 14px !important; */
/* } */
/* body .nav { */
/*   text-align: left; */
/*   margin-top: 8px; */
/* } */

/* body .nav ul { */
/*   list-style: none; */
/*   padding: 0; */
/* } */
/* body .nav ul li { */
/*   color: #999; */
/*   display: inline-block; */
/*   margin: 0; */
/* } */
/* body .nav ul li a { */
/*   display         : inline-block; */
/*   padding-right   : 6px; */
/*   border-radius   : 0; */
/*   text-decoration : underline; */
/*   font-weight     : normal; */
/* } */
