html { font-size: 16px }
                         
body #content {
    margin-top: 10px;
    margin-left: 260px;
    max-width: 850px;
    margin-right: 5%;
}

@media (max-width: 400px) {
    html { font-size: 10px }
    
    body #content {
        margin-top: 10px;
        margin-left: 10px;
        max-width: 850px;
        margin-right: 5%;
    }
}

@media (min-width: 401px) and (max-width: 600px) {
    html { font-size: 12px }
    
    body #content {
        margin-top: 10px;
        margin-left: 10px;
        max-width: 850px;
        margin-right: 5%;
    }
}

@media (min-width: 601px) and (max-width: 800px) {
    html { font-size: 14px }
    
    body #content {
        margin-top: 10px;
        margin-left: 10px;
        max-width: 850px;
        margin-right: 5%;
    }
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  /* font-size: 16px; */
  background: #fff;
  color: #333;
  /* color: #666; */
}

ul {
  text-align: justify;
  text-justify: inter-word;
}
  
td {
  text-align: justify;
  text-justify: inter-word;
}
  
.timestamp { color: #990000; }

body h1,
body h2,
body h3,
body h4 {
  font-family: "Montserrat";
  font-weight: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  color: #444;
}
body h1 b,
body h2 b,
body h3 b,
body h4 b {
  display: block;
  line-height: 1;
  font-size: 150%;
}
body h1 img,
body h2 img,
body h3 img,
body h4 img {
  vertical-align: middle;
  border: 0 none;
}
body h1 {
  font-family: "Montserrat";
  font-weight: 300;
  text-rendering: optimizeLegibility;
  text-align: left;
  margin-top: 40px;
  font-size: 200%;
}
body h1.title {
  font-family: "Montserrat";
  font-weight: 300;
  text-rendering: optimizeLegibility;
  text-align: left;
  font-size: 400%;
  margin-top: 40px;
}

body h2 { 
  font-family: "Montserrat";
  font-weight: 300;
  text-rendering: optimizeLegibility;
  margin-top: 60px;
  position: relative;
  font-size: 200%;
  /* font-size: 32px; */
  border-bottom: 1px solid #bbb;
}

body h3 {
  font-family: "Montserrat";
  font-size: 160%;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  /* font-size: 26px; */
  margin-top: 20px;
}

body p {
  text-align: justify;
}

body a {
  text-decoration: none;
  color: #1692cc;
}

body a:hover {
  color: #0c5070;
  text-decoration: underline;
}



#table-of-contents {
    margin-top    : 0;
    padding       : 0;
    /* font-size     : 10pt; */
    position      : fixed;
    left          : 20px;
    top           : 20px;
    width         : 160px;
    background    : #f5f5f5;
    text-align    : left;
    border        : 1px solid #e3e3e3;
    border-radius : 4px;
    padding-top   : 0px;
}

#table-of-contents a{
    font-size    : 90%;
}

#table-of-contents h2 {
    /* font-size: 12pt; */
    font-size    : 100%;
    max-width: 180px;
    font-weight: normal;
    padding-left: 0.5em;
    padding-top: 0.05em;
    padding-bottom: 0.05em;
    border-bottom: 0px;
    margin-top: 5px;
}

#table-of-contents #text-table-of-contents {
    display: none;
    text-align: left; }
#table-of-contents:hover #text-table-of-contents {
    display: block;
    padding: 0.5em;
    margin-top: -1.5em; }
    
.formcontainer {
    margin-top: 20px;
    width: 500px;
    clear: both;
}

.formcontainer input {
    width: 100%;
    clear: both;
}
.formcontainer textarea {
    width: 100%;
    clear: both;
}
.button {
    background-color: #f5f5f5;
    color: black;
    border-radius : 4px;
    border: 1px solid #e3e3e3;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    width: 100%;
    color: #666;
    font-size : 100%;
}
.antispam { display:none;}





/* body pre { */
/*   background: white; */
/* } */
/* body pre.src { */
/*   overflow-y: auto !important; */
/*   font-size: 16px; */
/* } */
/* body code { */
/*   background: #eee; */
/*   border: 1px solid #ccc; */
/*   padding: 0px 4px; */
/*   color: #666; */
/*   overflow-x: auto; */
/*   font-size: .9em; */
/* } */
/* body img { */
/*   border: 1px solid #ccc; */
/*   height: auto; */
/*   max-width: 70%; */
/* } */

/* body img.no-border { */
/*   border: none; */
/* } */
/* body .tag { */
/*   background: transparent; */
/*   font-size: 0.6em; */
/* } */
/* body .tag span { */
/*   background: #1692cc; */
/*   color: white; */
/*   padding: 2px 5px; */
/*   border-radius: 4px; */
/* } */
/* body .pubdate { */
/*   color: #aaa; */
/*   font-size: 18px; */
/*   margin-bottom: 20px; */
/*   text-align: right; */
/* } */
/* body .pubdate p { */
/*   display: inline; */
/*   margin-right: 10px; */
/* } */
/* body .nav-blog { */
/*   text-align: right; */
/* } */
/* body .org-info-js_info-navigation { */
/*   background: #bbb; */
/* } */

/* body #postamble { */
/*   font-size: 0.8em; */
/*   margin-top: 50px; */
/*   text-align: right; */
/*   color: #aaa; */
/* } */
/* body #postamble a { */
/*   color: #5bbfed; */
/* } */

/* body .intro { */
/*   padding-top: 20px; */
/*   color: #BBB; */
/* } */
/* body .intro h1 { */
/*   font-size: 42px; */
/*   color: #BBB; */
/*   margin: 0; */
/*   padding: 0; */
/* } */
/* body .intro p { */
/*   color: #aaa; */
/*   font-size: 14px !important; */
/* } */
/* body .nav { */
/*   text-align: left; */
/*   margin-top: 8px; */
/* } */

/* body .nav ul { */
/*   list-style: none; */
/*   padding: 0; */
/* } */
/* body .nav ul li { */
/*   color: #999; */
/*   display: inline-block; */
/*   margin: 0; */
/* } */
/* body .nav ul li a { */
/*   display         : inline-block; */
/*   padding-right   : 6px; */
/*   border-radius   : 0; */
/*   text-decoration : underline; */
/*   font-weight     : normal; */
/* } */
